*
{
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
}

form {
    max-width: 400px;
    margin: 20px auto;
    border: 1px solid black;
    padding: 25px;
    border-radius: 20px;
    background-color: rgba(31, 28, 28, 0.605);
    color: white;
}

label {
    display: block;
    margin-bottom: 8px;
}

select, input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-top: 8px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
    border: 1px solid black;

}

#genderOptions
{
    display: flex;
    justify-content: space-between;
    align-items: center
}